In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\Installation\\spark-3.3.2-bin-hadoop3'

In [2]:
from IPython.display import *
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = (
            SparkSession
                .builder
                .appName("SparkTablesApp")
                .master("local[4]")
    
                .config("spark.dynamicAllocation.enabled", "false")
                .config("spark.sql.adaptive.enabled", "false")
    
                # Enable Hive support
                .enableHiveSupport()
                
                .getOrCreate()
        )

sc = spark.sparkContext

spark

In [4]:
# Create schema for Yellow Taxi data
yellowTaxiSchema = (
                        StructType
                        ([ 
                            StructField("VendorId"               , IntegerType()   , True),
                            StructField("lpep_pickup_datetime"   , TimestampType() , True),
                            StructField("lpep_dropoff_datetime"  , TimestampType() , True),
                            StructField("passenger_count"        , DoubleType()    , True),
                            StructField("trip_distance"          , DoubleType()    , True),
                            StructField("RatecodeID"             , DoubleType()    , True),
                            StructField("store_and_fwd_flag"     , StringType()    , True),
                            StructField("PULocationID"           , IntegerType()   , True),
                            StructField("DOLocationID"           , IntegerType()   , True),
                            StructField("payment_type"           , IntegerType()   , True),
                            StructField("fare_amount"            , DoubleType()    , True),
                            StructField("extra"                  , DoubleType()    , True),
                            StructField("mta_tax"                , DoubleType()    , True),
                            StructField("tip_amount"             , DoubleType()    , True),
                            StructField("tolls_amount"           , DoubleType()    , True),
                            StructField("improvement_surcharge"  , DoubleType()    , True),
                            StructField("total_amount"           , DoubleType()    , True),
                            StructField("congestion_surcharge"   , DoubleType()    , True),
                            StructField("airport_fee"            , DoubleType()    , True)
                        ])
                   )

# Read YellowTaxis CSV file
yellowTaxiDF = (
                  spark
                    .read
                    .option("header", "true")    
                    .schema(yellowTaxiSchema)    
                    .csv("C:\SparkCourse\DataFiles\Raw\YellowTaxis_202210.csv")
               )

yellowTaxiDF.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

### Create Database in Hive metastore

In [5]:
spark.sql("""

SHOW DATABASES

""").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [6]:
spark.sql("""

CREATE DATABASE IF NOT EXISTS TaxisDB

""")

DataFrame[]

In [7]:
spark.sql("""

SHOW DATABASES

""").show()

+---------+
|namespace|
+---------+
|  default|
|  taxisdb|
+---------+

### Save DataFrame as a Managed Spark Table in Hive

In [8]:
(
    yellowTaxiDF
            .write
            
            .mode("overwrite")
    
            .saveAsTable("TaxisDB.YellowTaxisManaged")
)

In [9]:
spark.sql("""

SHOW TABLES IN TaxisDB

""").show(50, truncate=False)

+---------+------------------+-----------+
|namespace|tableName         |isTemporary|
+---------+------------------+-----------+
|taxisdb  |yellowtaxismanaged|false      |
+---------+------------------+-----------+

### Run queries on Managed Spark Table

In [10]:
spark.sql("""

SELECT *

FROM TaxisDB.YellowTaxisManaged

LIMIT 10

""").show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorId|lpep_pickup_datetime|lpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2022-10-09 18:33:31|  2022-10-09 19:06:57|            1.0|         2.65|       1.0|                 N|         151|         142|           1|       21.0|  0.0|    0.5|      4.86|         0.0|                  0.3|       29.16|                 2.5|        0.0|
|       2| 2022-10-09 19:08:46|  2022-10-09 19:31:10|            1.0|         2.35|       1.0|                 N|         142|         186|           1|       15.0|  0.0|    0.5|      5.49|         0.0|                  0.3|       23.79|                 2.5|        0.0|
|       2| 2022-10-09 19:02:28|  2022-10-09 19:14:25|            1.0|         1.15|       1.0|                 N|         162|         237|           2|        9.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|
|       2| 2022-10-09 19:25:13|  2022-10-09 19:28:10|            1.0|         0.77|       1.0|                 N|         237|         263|           1|        4.5|  0.0|    0.5|      1.56|         0.0|                  0.3|        9.36|                 2.5|        0.0|
|       2| 2022-10-09 19:29:18|  2022-10-09 19:40:09|            1.0|          2.6|       1.0|                 N|         231|         246|           1|       10.5|  0.0|    0.5|      2.76|         0.0|                  0.3|       16.56|                 2.5|        0.0|
|       1| 2022-10-09 18:39:36|  2022-10-09 19:06:54|            1.0|         10.2|       1.0|                 N|          70|          33|           1|       30.0|  0.0|    0.5|      6.15|         0.0|                  0.3|       36.95|                 0.0|        0.0|
|       1| 2022-10-09 19:12:17|  2022-10-09 19:32:40|            2.0|          4.0|       1.0|                 N|          65|          90|           1|       16.0|  2.5|    0.5|      3.85|         0.0|                  0.3|       23.15|                 2.5|        0.0|
|       1| 2022-10-09 18:57:54|  2022-10-09 19:25:44|            1.0|          8.9|       1.0|                 N|         151|         138|           1|       29.5|  0.0|    0.5|       6.0|        6.55|                  0.3|       42.85|                 0.0|        0.0|
|       2| 2022-10-09 19:12:32|  2022-10-09 19:36:30|            1.0|         5.63|       1.0|                 N|         140|         144|           1|       21.0|  0.0|    0.5|      6.08|         0.0|                  0.3|       30.38|                 2.5|        0.0|
|       2| 2022-10-09 19:29:17|  2022-10-09 19:37:19|            1.0|          0.9|       1.0|                 N|         264|          68|           1|        7.0|  0.0|    0.5|      1.56|         0.0|                  0.3|        9.36|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

In [11]:
outputDF = (
                spark
                    .read
                    .table("TaxisDB.YellowTaxisManaged")
           )

outputDF.limit(10).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorId|lpep_pickup_datetime|lpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2022-10-09 18:33:31|  2022-10-09 19:06:57|            1.0|         2.65|       1.0|                 N|         151|         142|           1|       21.0|  0.0|    0.5|      4.86|         0.0|                  0.3|       29.16|                 2.5|        0.0|
|       2| 2022-10-09 19:08:46|  2022-10-09 19:31:10|            1.0|         2.35|       1.0|                 N|         142|         186|           1|       15.0|  0.0|    0.5|      5.49|         0.0|                  0.3|       23.79|                 2.5|        0.0|
|       2| 2022-10-09 19:02:28|  2022-10-09 19:14:25|            1.0|         1.15|       1.0|                 N|         162|         237|           2|        9.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|
|       2| 2022-10-09 19:25:13|  2022-10-09 19:28:10|            1.0|         0.77|       1.0|                 N|         237|         263|           1|        4.5|  0.0|    0.5|      1.56|         0.0|                  0.3|        9.36|                 2.5|        0.0|
|       2| 2022-10-09 19:29:18|  2022-10-09 19:40:09|            1.0|          2.6|       1.0|                 N|         231|         246|           1|       10.5|  0.0|    0.5|      2.76|         0.0|                  0.3|       16.56|                 2.5|        0.0|
|       1| 2022-10-09 18:39:36|  2022-10-09 19:06:54|            1.0|         10.2|       1.0|                 N|          70|          33|           1|       30.0|  0.0|    0.5|      6.15|         0.0|                  0.3|       36.95|                 0.0|        0.0|
|       1| 2022-10-09 19:12:17|  2022-10-09 19:32:40|            2.0|          4.0|       1.0|                 N|          65|          90|           1|       16.0|  2.5|    0.5|      3.85|         0.0|                  0.3|       23.15|                 2.5|        0.0|
|       1| 2022-10-09 18:57:54|  2022-10-09 19:25:44|            1.0|          8.9|       1.0|                 N|         151|         138|           1|       29.5|  0.0|    0.5|       6.0|        6.55|                  0.3|       42.85|                 0.0|        0.0|
|       2| 2022-10-09 19:12:32|  2022-10-09 19:36:30|            1.0|         5.63|       1.0|                 N|         140|         144|           1|       21.0|  0.0|    0.5|      6.08|         0.0|                  0.3|       30.38|                 2.5|        0.0|
|       2| 2022-10-09 19:29:17|  2022-10-09 19:37:19|            1.0|          0.9|       1.0|                 N|         264|          68|           1|        7.0|  0.0|    0.5|      1.56|         0.0|                  0.3|        9.36|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

In [12]:
spark.sql("""

DESCRIBE TABLE EXTENDED TaxisDB.YellowTaxisManaged

""").show(50, truncate=False)

+----------------------------+------------------------------------------------------------------+-------+
|col_name                    |data_type                                                         |comment|
+----------------------------+------------------------------------------------------------------+-------+
|VendorId                    |int                                                               |null   |
|lpep_pickup_datetime        |timestamp                                                         |null   |
|lpep_dropoff_datetime       |timestamp                                                         |null   |
|passenger_count             |double                                                            |null   |
|trip_distance               |double                                                            |null   |
|RatecodeID                  |double                                                            |null   |
|store_and_fwd_flag          |string                                                            |null   |
|PULocationID                |int                                                               |null   |
|DOLocationID                |int                                                               |null   |
|payment_type                |int                                                               |null   |
|fare_amount                 |double                                                            |null   |
|extra                       |double                                                            |null   |
|mta_tax                     |double                                                            |null   |
|tip_amount                  |double                                                            |null   |
|tolls_amount                |double                                                            |null   |
|improvement_surcharge       |double                                                            |null   |
|total_amount                |double                                                            |null   |
|congestion_surcharge        |double                                                            |null   |
|airport_fee                 |double                                                            |null   |
|                            |                                                                  |       |
|# Detailed Table Information|                                                                  |       |
|Database                    |taxisdb                                                           |       |
|Table                       |yellowtaxismanaged                                                |       |
|Owner                       |msc_b                                                             |       |
|Created Time                |Wed Mar 01 22:58:10 IST 2023                                      |       |
|Last Access                 |UNKNOWN                                                           |       |
|Created By                  |Spark 3.3.2                                                       |       |
|Type                        |MANAGED                                                           |       |
|Provider                    |parquet                                                           |       |
|Statistics                  |78241286 bytes                                                    |       |
|Location                    |file:/C:/Users/msc_b/spark-warehouse/taxisdb.db/yellowtaxismanaged|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe       |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat     |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat    |       |
+----------------------------+------------------------------------------------------------------+-------+

### Save DataFrame as an Unmanaged / External Spark Table in Hive

Only change is to define the path

In [13]:
(
    yellowTaxiDF
            .write
            
            .mode("overwrite")
    
            .option("path", "C:\SparkCourse\DataFiles\Output\YellowTaxisOutput.parquet")
    
            #.option("format", "csv")             # Default is 'parquet'
    
            .saveAsTable("TaxisDB.YellowTaxis")
)

In [14]:
spark.sql("""

DESCRIBE TABLE EXTENDED TaxisDB.YellowTaxis

""").show(50, truncate=False)

+----------------------------+---------------------------------------------------------------+-------+
|col_name                    |data_type                                                      |comment|
+----------------------------+---------------------------------------------------------------+-------+
|VendorId                    |int                                                            |null   |
|lpep_pickup_datetime        |timestamp                                                      |null   |
|lpep_dropoff_datetime       |timestamp                                                      |null   |
|passenger_count             |double                                                         |null   |
|trip_distance               |double                                                         |null   |
|RatecodeID                  |double                                                         |null   |
|store_and_fwd_flag          |string                                                         |null   |
|PULocationID                |int                                                            |null   |
|DOLocationID                |int                                                            |null   |
|payment_type                |int                                                            |null   |
|fare_amount                 |double                                                         |null   |
|extra                       |double                                                         |null   |
|mta_tax                     |double                                                         |null   |
|tip_amount                  |double                                                         |null   |
|tolls_amount                |double                                                         |null   |
|improvement_surcharge       |double                                                         |null   |
|total_amount                |double                                                         |null   |
|congestion_surcharge        |double                                                         |null   |
|airport_fee                 |double                                                         |null   |
|                            |                                                               |       |
|# Detailed Table Information|                                                               |       |
|Database                    |taxisdb                                                        |       |
|Table                       |yellowtaxis                                                    |       |
|Owner                       |msc_b                                                          |       |
|Created Time                |Wed Mar 01 23:00:56 IST 2023                                   |       |
|Last Access                 |UNKNOWN                                                        |       |
|Created By                  |Spark 3.3.2                                                    |       |
|Type                        |EXTERNAL                                                       |       |
|Provider                    |parquet                                                        |       |
|Statistics                  |78241286 bytes                                                 |       |
|Location                    |file:/C:/SparkCourse/DataFiles/Output/YellowTaxisOutput.parquet|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe    |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat  |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat |       |
+----------------------------+---------------------------------------------------------------+-------+

### Drop External table and recreate using stored files

In [15]:
spark.sql("""

DROP TABLE TaxisDB.YellowTaxis

""")

DataFrame[]

In [16]:
spark.sql("""

CREATE TABLE TaxisDB.YellowTaxis

USING PARQUET

LOCATION "C:/SparkCourse/DataFiles/Output/YellowTaxisOutput.parquet/"

""")

DataFrame[]

In [17]:
yellowTaxiDF = (
                  spark
                    .read
                    .table("TaxisDB.YellowTaxis")
    
               )

yellowTaxiDF.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorId|lpep_pickup_datetime|lpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2022-10-09 18:33:31|  2022-10-09 19:06:57|            1.0|         2.65|       1.0|                 N|         151|         142|           1|       21.0|  0.0|    0.5|      4.86|         0.0|                  0.3|       29.16|                 2.5|        0.0|
|       2| 2022-10-09 19:08:46|  2022-10-09 19:31:10|            1.0|         2.35|       1.0|                 N|         142|         186|           1|       15.0|  0.0|    0.5|      5.49|         0.0|                  0.3|       23.79|                 2.5|        0.0|
|       2| 2022-10-09 19:02:28|  2022-10-09 19:14:25|            1.0|         1.15|       1.0|                 N|         162|         237|           2|        9.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|
|       2| 2022-10-09 19:25:13|  2022-10-09 19:28:10|            1.0|         0.77|       1.0|                 N|         237|         263|           1|        4.5|  0.0|    0.5|      1.56|         0.0|                  0.3|        9.36|                 2.5|        0.0|
|       2| 2022-10-09 19:29:18|  2022-10-09 19:40:09|            1.0|          2.6|       1.0|                 N|         231|         246|           1|       10.5|  0.0|    0.5|      2.76|         0.0|                  0.3|       16.56|                 2.5|        0.0|
|       1| 2022-10-09 18:39:36|  2022-10-09 19:06:54|            1.0|         10.2|       1.0|                 N|          70|          33|           1|       30.0|  0.0|    0.5|      6.15|         0.0|                  0.3|       36.95|                 0.0|        0.0|
|       1| 2022-10-09 19:12:17|  2022-10-09 19:32:40|            2.0|          4.0|       1.0|                 N|          65|          90|           1|       16.0|  2.5|    0.5|      3.85|         0.0|                  0.3|       23.15|                 2.5|        0.0|
|       1| 2022-10-09 18:57:54|  2022-10-09 19:25:44|            1.0|          8.9|       1.0|                 N|         151|         138|           1|       29.5|  0.0|    0.5|       6.0|        6.55|                  0.3|       42.85|                 0.0|        0.0|
|       2| 2022-10-09 19:12:32|  2022-10-09 19:36:30|            1.0|         5.63|       1.0|                 N|         140|         144|           1|       21.0|  0.0|    0.5|      6.08|         0.0|                  0.3|       30.38|                 2.5|        0.0|
|       2| 2022-10-09 19:29:17|  2022-10-09 19:37:19|            1.0|          0.9|       1.0|                 N|         264|          68|           1|        7.0|  0.0|    0.5|      1.56|         0.0|                  0.3|        9.36|                 0.0|        0.0|
|       2| 2022-10-09 18:31:46|  2022-10-09 18:47:28|            1.0|         3.68|       1.0|                 N|         107|         262|           1|       13.5|  0.0|    0.5|      3.36|         0.0|                  0.3|       20.16|                 2.5|        0.0|
|       2| 2022-10-09 18:49:26|  2022-10-09 18:58:09|            1.0|         1.48|       1.0|                 N|         262|         229|           1|        8.0|  0.0|    0.5|      2.26|         0.0|                  0.3|       13.56|                 2.5|        0.0|
|       2| 2022-10-09 19:10:02|  2022-10-09 19:56:38|            1.0|         4.24|       1.0|                 N|         237|         170|           2|       28.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        31.8|                 2.5|        0.0|
|       2| 2022-10-09 18:46:14|  2022-10-09 18:53:55|            1.0|         1.28|       1.0|                 N|         140|         141|           1|        7.5|  0.0|    0.5|      2.16|         0.0|                  0.3|       12.96|                 2.5|        0.0|
|       2| 2022-10-09 19:03:48|  2022-10-09 19:13:41|            1.0|         1.36|       1.0|                 N|         237|          75|           1|        8.5|  0.0|    0.5|      2.36|         0.0|                  0.3|       14.16|                 2.5|        0.0|
|       2| 2022-10-09 19:16:54|  2022-10-09 19:22:38|            1.0|         0.99|       1.0|                 N|          43|         236|           1|        6.0|  0.0|    0.5|      1.86|         0.0|                  0.3|       11.16|                 2.5|        0.0|
|       2| 2022-10-09 18:46:00|  2022-10-09 19:14:44|            1.0|         1.69|       1.0|                 N|         239|         142|           1|       17.5|  0.0|    0.5|      4.16|         0.0|                  0.3|       24.96|                 2.5|        0.0|
|       2| 2022-10-09 19:17:03|  2022-10-09 19:26:41|            1.0|          1.4|       1.0|                 N|         142|          50|           1|        8.0|  0.0|    0.5|      0.56|         0.0|                  0.3|       11.86|                 2.5|        0.0|
|       2| 2022-10-09 19:28:43|  2022-10-09 20:00:27|            1.0|         4.79|       1.0|                 N|          50|         148|           1|       22.5|  0.0|    0.5|      6.45|         0.0|                  0.3|       32.25|                 2.5|        0.0|
|       2| 2022-10-09 19:06:55|  2022-10-09 19:30:43|            2.0|         8.41|       1.0|                 N|         264|         141|           1|       25.5|  0.0|    0.5|      7.07|        6.55|                  0.3|       43.67|                 2.5|       1.25|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows