In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\Installation\\spark-3.3.2-bin-hadoop3'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = (
            SparkSession
                .builder
                .appName("MultipleDatasetsApp")
                .master("local[4]")
    
                .config("spark.dynamicAllocation.enabled", "false")
                .config("spark.sql.adaptive.enabled", "false")
                
                .getOrCreate()
        )

sc = spark.sparkContext

spark

In [3]:
from IPython.display import *
display(HTML("<style>pre { white-space: pre !important; }</style>"))

## JOIN Operations

In [4]:
# Create schema for Yellow Taxi data
yellowTaxiSchema = (
                        StructType
                        ([ 
                            StructField("VendorId"               , IntegerType()   , True),
                            StructField("PickupTime"             , TimestampType() , True),
                            StructField("DropTime"               , TimestampType() , True),                            
                            StructField("PassengerCount"         , DoubleType()    , True),
                            StructField("TripDistance"           , DoubleType()    , True),
                            StructField("RateCodeId"             , DoubleType()    , True),                            
                            StructField("StoreAndFwdFlag"        , StringType()    , True),
                            StructField("PickupLocationId"       , IntegerType()   , True),
                            StructField("DropLocationId"         , IntegerType()   , True),                            
                            StructField("PaymentType"            , IntegerType()   , True),                            
                            StructField("FareAmount"             , DoubleType()    , True),
                            StructField("Extra"                  , DoubleType()    , True),
                            StructField("MtaTax"                 , DoubleType()    , True),
                            StructField("TipAmount"              , DoubleType()    , True),
                            StructField("TollsAmount"            , DoubleType()    , True),
                            StructField("ImprovementSurcharge"   , DoubleType()    , True),
                            StructField("TotalAmount"            , DoubleType()    , True),
                            StructField("CongestionSurcharge"    , DoubleType()    , True),
                            StructField("AirportFee"             , DoubleType()    , True)
                        ])
                   )


# Read Yellow Taxis file
yellowTaxiDF = (
                  spark
                    .read
                    .option("header", "true")    
                    .schema(yellowTaxiSchema)    
                    .csv("C:\SparkCourse\DataFiles\Raw\YellowTaxis_202210.csv")
               )


# Create temp view
yellowTaxiDF.createOrReplaceTempView("YellowTaxis")


# Print the schema
yellowTaxiDF.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PassengerCount: double (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- RateCodeId: double (nullable = true)
 |-- StoreAndFwdFlag: string (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- PaymentType: integer (nullable = true)
 |-- FareAmount: double (nullable = true)
 |-- Extra: double (nullable = true)
 |-- MtaTax: double (nullable = true)
 |-- TipAmount: double (nullable = true)
 |-- TollsAmount: double (nullable = true)
 |-- ImprovementSurcharge: double (nullable = true)
 |-- TotalAmount: double (nullable = true)
 |-- CongestionSurcharge: double (nullable = true)
 |-- AirportFee: double (nullable = true)

In [5]:
# Create schema for Taxi Zones data
taxiZonesSchema = "PickupLocationId INT, Borough STRING, Zone STRING, ServiceZone STRING"


# Read Taxi Zones file
taxiZonesDF = (
                  spark
                    .read                    
                    .schema(taxiZonesSchema)
                    .csv("C:\SparkCourse\DataFiles\Raw\TaxiZones.csv")
              )


# Create temp view
taxiZonesDF.createOrReplaceTempView("TaxiZones")


# Print the schema
taxiZonesDF.printSchema()

root
 |-- PickupLocationId: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- ServiceZone: string (nullable = true)

### Display location information for each ride

Join DataFrames of Yellow Taxis and Taxi Zones

In [6]:
joinedDF = (
                yellowTaxiDF

                    .join
                    (
                        taxiZonesDF,

                        yellowTaxiDF.PickupLocationId == taxiZonesDF.PickupLocationId, 
                        
                                  # [condition1, condition2...]

                        "inner"   # left, leftouter, right, rightouter, full etc.
                    )
            )
                    
joinedDF.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PassengerCount: double (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- RateCodeId: double (nullable = true)
 |-- StoreAndFwdFlag: string (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- PaymentType: integer (nullable = true)
 |-- FareAmount: double (nullable = true)
 |-- Extra: double (nullable = true)
 |-- MtaTax: double (nullable = true)
 |-- TipAmount: double (nullable = true)
 |-- TollsAmount: double (nullable = true)
 |-- ImprovementSurcharge: double (nullable = true)
 |-- TotalAmount: double (nullable = true)
 |-- CongestionSurcharge: double (nullable = true)
 |-- AirportFee: double (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- ServiceZone: string (nullable = true)

In [8]:
# Remove duplicate 'PickupLocationId' column

joinedDF = (
                yellowTaxiDF

                    .join
                    (
                        taxiZonesDF,

                        yellowTaxiDF.PickupLocationId == taxiZonesDF.PickupLocationId, 

                                  # [condition1, condition2...]

                        "inner"   # left, leftouter, right, rightouter, full etc.
                    )

                    .drop(col("tz.PickupLocationId"))
           )    
                    
joinedDF.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PassengerCount: double (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- RateCodeId: double (nullable = true)
 |-- StoreAndFwdFlag: string (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- PaymentType: integer (nullable = true)
 |-- FareAmount: double (nullable = true)
 |-- Extra: double (nullable = true)
 |-- MtaTax: double (nullable = true)
 |-- TipAmount: double (nullable = true)
 |-- TollsAmount: double (nullable = true)
 |-- ImprovementSurcharge: double (nullable = true)
 |-- TotalAmount: double (nullable = true)
 |-- CongestionSurcharge: double (nullable = true)
 |-- AirportFee: double (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- ServiceZone: string (nullable = true)

In [9]:
# Join on same column name
# Only one column shows up in output

joinedDF = (
                yellowTaxiDF.alias("yt")
    
                    .join
                    (
                        taxiZonesDF.alias("tz"),
                        
                        #col("yt.PickupLocationId") == col("tz.PickupLocationId")
                        
                        ['PickupLocationId'],   # only one PickupLocationId column will be kept
                        
                        "inner"
                    )
           )

joinedDF.printSchema()

root
 |-- PickupLocationId: integer (nullable = true)
 |-- VendorId: integer (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PassengerCount: double (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- RateCodeId: double (nullable = true)
 |-- StoreAndFwdFlag: string (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- PaymentType: integer (nullable = true)
 |-- FareAmount: double (nullable = true)
 |-- Extra: double (nullable = true)
 |-- MtaTax: double (nullable = true)
 |-- TipAmount: double (nullable = true)
 |-- TollsAmount: double (nullable = true)
 |-- ImprovementSurcharge: double (nullable = true)
 |-- TotalAmount: double (nullable = true)
 |-- CongestionSurcharge: double (nullable = true)
 |-- AirportFee: double (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- ServiceZone: string (nullable = true)

### Exercise 1

Find all LocationIds in TaxiZones, from where no pickups have happened

In [ ]:
# Exercise 1 Answer

(spark.sql("""

    SELECT DISTINCT tz.*

    FROM TaxiZones tz

        LEFT JOIN YellowTaxis yt ON yt.PickupLocationId = tz.PickupLocationId
        
        WHERE yt.PickupLocationId IS NULL

""")).show()

## SET Operations

In [10]:
# Read Drivers file
driversDF = (
                  spark
                    .read                    
                    .option("header", "true")
                    .option("inferSchema", "true")
                    .csv("C:\SparkCourse\DataFiles\Raw\Drivers.csv")
            )

# Create temp view
driversDF.createOrReplaceTempView("Drivers")


driversDF.show()

+-------------------+--------------------+--------------------+--------------+---------------+
|DriverLicenseNumber|                Name|                Type|ExpirationDate|LastDateUpdated|
+-------------------+--------------------+--------------------+--------------+---------------+
|            5430898|   ABDEL-BAR,ESLAM,M|MEDALLION TAXI DR...|    04/12/2023|     04/22/2020|
|            5363749|ABDOUSAMADOV,ALIC...|MEDALLION TAXI DR...|    06/01/2020|     04/22/2020|
|            5534446|  ABDUHALIKOV,RUSTAM|MEDALLION TAXI DR...|    06/16/2020|     04/22/2020|
|            5935702|   ABDULLAEV,JONIBEK|MEDALLION TAXI DR...|    03/14/2022|     04/22/2020|
|            5255097|ABDULNABI,MASHHOUR,H|MEDALLION TAXI DR...|    03/16/2021|     04/22/2020|
|            5778633|ABDUSALOMOV,IKROMJON|MEDALLION TAXI DR...|    06/02/2023|     04/22/2020|
|            5934755|ABDUVOKHIDOV,MURO...|MEDALLION TAXI DR...|    02/27/2022|     04/22/2020|
|             443085|         ABEDIN,MD,J|MEDALLION TAXI DR...|    11/28/2020|     04/22/2020|
|            5206734|ABUAL-AINAIN,OSAMA,S|MEDALLION TAXI DR...|    07/06/2020|     04/22/2020|
|            5891245|      ABUTIDZE,LEVAN|MEDALLION TAXI DR...|    09/11/2021|     04/22/2020|
|            5939698|ADAMES DICENT,HEC...|MEDALLION TAXI DR...|    06/27/2022|     04/22/2020|
|            5856128|     AGLAGUEL,ADNANE|MEDALLION TAXI DR...|    03/20/2021|     04/22/2020|
|            5702245|      AHAMED,TANVEER|MEDALLION TAXI DR...|    06/30/2022|     04/22/2020|
|            5596480|AHMAD,FIRAS,HAMAM...|MEDALLION TAXI DR...|    05/11/2022|     04/22/2020|
|            5570416|      AHMAD,IFTEKHAR|MEDALLION TAXI DR...|    12/04/2020|     04/22/2020|
|            5526240|        AHMAD,JAWAID|MEDALLION TAXI DR...|    04/22/2023|     04/22/2020|
|            5741789|         AHMAD,MALAK|MEDALLION TAXI DR...|    01/20/2023|     04/22/2020|
|            5448948|        AHMAD,SABBIR|MEDALLION TAXI DR...|    11/20/2020|     04/22/2020|
|             439779|      AHMAD,ZULFEQAR|MEDALLION TAXI DR...|    05/21/2022|     04/22/2020|
|            5895140|AHMED KHAN,MOHAMM...|MEDALLION TAXI DR...|    10/23/2021|     04/22/2020|
+-------------------+--------------------+--------------------+--------------+---------------+
only showing top 20 rows

In [11]:
# Read Cabs file
cabsDF = (
              spark
                .read                    
                .option("header", "true")
                .option("inferSchema", "true")
                .csv("C:\SparkCourse\DataFiles\Raw\Cabs.csv")
         )

# Create temp view
cabsDF.createOrReplaceTempView("Cabs")


cabsDF.show()

+---------+--------------------+--------------------+----------------+------+-------------------+-----------------+--------------------+-----------+-----------+---------------+--------------------+--------------------+---------------+
|CabNumber|VehicleLicenseNumber|                Name|     LicenseType|Active|PermitLicenseNumber| VehicleVinNumber|WheelchairAccessible|VehicleYear|VehicleType|TelephoneNumber|             Website|             Address|LastDateUpdated|
+---------+--------------------+--------------------+----------------+------+-------------------+-----------------+--------------------+-----------+-----------+---------------+--------------------+--------------------+---------------+
| T802127C|              C19641|          ABCON INC.|OWNER MUST DRIVE|   YES|               null|5TDBK3EH0DS268018|                null|       2016|       null|  (718)438-1100|                null|41-24   38 STREET...|     04/22/2020|
| T525963C|             5362996| ACCEPTABLE TAXI LLC|    NAMED DRIVER|   YES|               null|JTDZN3EU1GJ044907|                null|       2016|       null|  (718)375-1001|                null|2395 CONEY ISLAND...|     04/22/2020|
| T457353C|             5122403|      ALLIS CAB CORP|    NAMED DRIVER|   YES|               null|4T1BD1FK9FU150746|                null|       2013|       null|  (212)927-4600|                null|2400 AMSTERDAM AV...|     04/22/2020|
| T606373C|             5386507|       BENE CAB CORP|    NAMED DRIVER|   YES|              AC992|4T1BD1FK1EU137360|                null|       2015|       null|  (718)472-9800|                null|29 - 10   36 AVEN...|     04/22/2020|
| T451536C|             5143151|   BOULOS TAXI CORP.|    NAMED DRIVER|   YES|               null|4T1BD1FK8FU142430|                null|       2017|       null|  (718)971-5639|                null|636 WEST   28 STR...|     04/22/2020|
| T500313C|             5268004|     CACERES,JAIME,P|OWNER MUST DRIVE|   YES|               null|4T1BF1FK8FU477889|                null|       2015|       null|  (516)861-2019|                null|62 MAIN STREET PT...|     04/22/2020|
| T484321C|             5238526|CALCIUM ONE SERVI...|    NAMED DRIVER|   YES|               null|4T1BD1FK4FU176834|                null|       2017|       null|  (718)971-5559|WWW.DRIVEUBERNYC.COM|636 WEST   28 STR...|     04/22/2020|
| T663612C|             5386120|     CHARLES,WILBERT|OWNER MUST DRIVE|   YES|               null|JTMRJREV1HD120102|                null|       2015|       null|  (718)658-5700|                null|135-10 JAMAICA AV...|     04/22/2020|
| T725323C|             5171032|      CHAWKI,MICHAEL|OWNER MUST DRIVE|   YES|               null|1FMCU4K35AKA35795|                null|       2016|       null|  (646)665-3514|    DRIVEUBERNYC.COM|636 WEST   28 STR...|     04/22/2020|
| T519718C|             5330235|CHRYSOVALANTOU CORP,|    NAMED DRIVER|   YES|               null|4T1BD1FK4FU149276|                null|       2017|       null|  (718)515-5555|WWW.BESTDEALCARSE...|757 A BURKE AVENU...|     04/22/2020|
| T664587C|             5588056|     COFI BOAT CORP.|OWNER MUST DRIVE|   YES|               null|JTMRJREV5GD012564|                null|       2016|       null|  (212)666-6666|                null|2642 BROADWAY NY ...|     04/22/2020|
| ELITE346|              F37515| DEKEL TAXI CAB CORP|    NAMED DRIVER|   YES|               null|4T1BD1FK4FU163789|                null|       2019|       null|  (718)472-2300|                null|32-72 GALE AVENUE...|     04/22/2020|
| T621614C|             5453341|FLORIAN & ROBERT INC|    NAMED DRIVER|   YES|               null|JTDZN3EU3E3306122|                null|       2012|       null|  (718)543-0001|                null|3107 KINGSBRIDGE ...|     04/22/2020|
| T714073C|             5385905|       GART CAB CORP|    NAMED DRIVER|   YES|               null|3N8CM0JT9EK702820|                null|       2016|       null|  (718)971-5559|         ZWEINYC.COM|636 WEST   28 STR...|     04/22/2020|
| T655723C|             5553705|    GAUTHIER,JACQUES|OWNER MUST DRIVE|   YES|               null|1FMCU4K35CKA37551|                null|       2016|       null|  (212)431-5555|                null|11-35   31 DRIVE ...|     04/22/2020|
| T600330C|              V75262|GEORGAKOPOULOS, G...|    NAMED DRIVER|   YES|               null|2FABP7AV7BX148809|                null|       2010|       null|  (646)665-7584|                null|636 WEST   28 STR...|     04/22/2020|
| T652698C|             5552919|      GUJAR CAB CORP|    NAMED DRIVER|   YES|               null|1FMCU4K35CKA85955|                null|       2015|       null|  (646)665-7540|     WWW.ELFNYC1.COM|636 WEST   28 STR...|     04/22/2020|
| T624038C|             5438429|     HUEZO, SALVADOR|OWNER MUST DRIVE|   YES|               null|3N8CM0JT3GK701911|                null|       2019|       null|  (646)665-7304|    DRIVEUBERNYC.COM|636 WEST   28 STR...|     04/22/2020|
| ELITE903|             5388274|   JEAN-PIERRE,SERGE|OWNER MUST DRIVE|   YES|               null|5TDZK3DCXGS706794|                null|       2014|       null|  (718)472-2300|                null|32-72 GALE AVENUE...|     04/22/2020|
| T487069C|             5250818|      JETS CAB CORP.|    NAMED DRIVER|   YES|               null|JTMRJREV8HD120663|                null|       2016|       null|  (646)665-7402|                null|636 WEST   28 STR...|     04/22/2020|
+---------+--------------------+--------------------+----------------+------+-------------------+-----------------+--------------------+-----------+-----------+---------------+--------------------+--------------------+---------------+
only showing top 20 rows

### 1. Create list of all drivers

In [12]:
(spark.sql("""

    (
        SELECT Name 
        FROM Cabs
        WHERE LicenseType = 'OWNER MUST DRIVE'
    )

    UNION ALL

    (
        SELECT Name
        FROM Drivers
    )

""")).count()

157716

### 2. Create list of unique drivers

In [13]:
(spark.sql("""

    (
        SELECT Name 
        FROM Cabs
        WHERE LicenseType = 'OWNER MUST DRIVE'
    )

    UNION

    (
        SELECT Name
        FROM Drivers
    )

""")).count()

156566

### 3. Create list of all registered drivers who are driving cabs

In [14]:
(spark.sql("""

    (
        SELECT Name 
        FROM Cabs
        WHERE LicenseType = 'OWNER MUST DRIVE'
    )

    INTERSECT

    (
        SELECT Name
        FROM Drivers
    )

""")).count()

1150

### 4. Create list of drivers driving cabs, but not registered

In [15]:
(spark.sql("""
    
    (
        SELECT Name 
        FROM Cabs
        WHERE LicenseType = 'OWNER MUST DRIVE'
    )

    EXCEPT

    (
        SELECT Name
        FROM Drivers
    )

""")).count()

1940