In [1]:
import findspark
findspark.init()
findspark.find()

from IPython.display import *
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = (
            SparkSession
                .builder
                .appName("DeltaLakeApp")
    
                .master("local[4]")    
                .config("spark.dynamicAllocation.enabled", "false")     
    
    
                # Add package for Delta Lake
                .config("spark.jars.packages", "io.delta:delta-core_2.12:2.2.0")
    
    
                # Add settings to use Delta Lake with Spark session
                .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    
                .config("spark.sql.catalog.spark_catalog", 
                        "org.apache.spark.sql.delta.catalog.DeltaCatalog")
    
                .getOrCreate()
        )

sc = spark.sparkContext

spark

In [3]:
# Create schema for Yellow Taxi data
yellowTaxiSchema = (
                        StructType
                        ([ 
                            StructField("VendorId"               , IntegerType()   , True),
                            StructField("PickupTime"             , TimestampType() , True),
                            StructField("DropTime"               , TimestampType() , True),
                            StructField("PassengerCount"         , DoubleType()    , True),
                            StructField("TripDistance"           , DoubleType()    , True),
                            StructField("RateCodeId"             , DoubleType()    , True),
                            StructField("StoreAndFwdFlag"        , StringType()    , True),
                            StructField("PickupLocationId"       , IntegerType()   , True),
                            StructField("DropLocationId"         , IntegerType()   , True),
                            StructField("PaymentType"            , IntegerType()   , True),
                            StructField("FareAmount"             , DoubleType()    , True),
                            StructField("Extra"                  , DoubleType()    , True),
                            StructField("MtaTax"                 , DoubleType()    , True),
                            StructField("TipAmount"              , DoubleType()    , True),
                            StructField("TollsAmount"            , DoubleType()    , True),
                            StructField("ImprovementSurcharge"   , DoubleType()    , True),
                            StructField("TotalAmount"            , DoubleType()    , True),
                            StructField("CongestionSurcharge"    , DoubleType()    , True),
                            StructField("AirportFee"             , DoubleType()    , True)
                        ])
                   )


# Read Yellow Taxis file
yellowTaxiDF = (
                  spark
                    .read
                    .option("header", "true")    
                    .schema(yellowTaxiSchema)    
                    .csv("C:\SparkCourse\DataFiles\Raw\YellowTaxis_202210.csv")
               )


# Print schema of DataFrame
yellowTaxiDF.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PassengerCount: double (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- RateCodeId: double (nullable = true)
 |-- StoreAndFwdFlag: string (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- PaymentType: integer (nullable = true)
 |-- FareAmount: double (nullable = true)
 |-- Extra: double (nullable = true)
 |-- MtaTax: double (nullable = true)
 |-- TipAmount: double (nullable = true)
 |-- TollsAmount: double (nullable = true)
 |-- ImprovementSurcharge: double (nullable = true)
 |-- TotalAmount: double (nullable = true)
 |-- CongestionSurcharge: double (nullable = true)
 |-- AirportFee: double (nullable = true)

### Create database in metastore

In [4]:
spark.sql("""

CREATE DATABASE IF NOT EXISTS TaxisDB

""")

DataFrame[]

### Parquet format: Save DataFrame as a Table

In [5]:
(
    yellowTaxiDF
            .write    
            .mode("overwrite")
    
            .partitionBy("VendorId")
    
            .format("parquet")
    
            .option("path", "C:\SparkCourse\DataFiles\Output\YellowTaxis.parquet")
    
            .saveAsTable("TaxisDB.YellowTaxisParquet")
)

### Delta format: Save DataFrame as Table

In [6]:
# If you have already run this command, and want to start from beginning,
# delete folder from file system first

from delta import *

(
    yellowTaxiDF
            .write    
            .mode("overwrite")
    
            .partitionBy("VendorId")
    
            .format("delta")
    
            .option("path", "C:\SparkCourse\DataFiles\Output\YellowTaxis.delta")
    
            .saveAsTable("TaxisDB.YellowTaxis")
)

In [7]:
spark.sql("""

SELECT COUNT(*)
FROM TaxisDB.YellowTaxis

""").show()

+--------+
|count(1)|
+--------+
| 3675412|
+--------+

### Audit History of Delta Table

This shows transaction log of Delta Table

In [8]:
spark.sql("""

DESCRIBE HISTORY TaxisDB.YellowTaxis

""").show(truncate=False)

+-------+-----------------------+------+--------+---------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+---------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation                        |operationParameters                                                                                                                    |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                     |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+---------------------------------------------------------------------+------------+-----------------------------------+
|3      |2023-03-12 22:24:34.753|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}|null|null    |null     |2          |Serializable  |false        |{numFiles -> 9, numOutputRows -> 3675412, numOutputBytes -> 80993013}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|2      |2023-03-12 22:21:50.635|null  |null    |WRITE                            |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                          |null|null    |null     |1          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 5469}          |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|1      |2023-03-12 22:21:36.818|null  |null    |WRITE                            |{mode -> Append, partitionBy -> []}                                                                                                    |null|null    |null     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 5096}          |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|0      |2023-03-12 22:21:24.881|null  |null    |CREATE TABLE                     |{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}|null|null    |null     |null       |Serializable  |true         |{}                                                                   |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
+-------+-----------------------+------+--------+---------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+---------------------------------------------------------------------+------------+-----------------------------------+

### Overwrite data in Delta table

In [9]:
# Overwrite data by re-running the command

(
    yellowTaxiDF
            .write    
            .mode("overwrite")
    
            .partitionBy("VendorId")
    
            .format("delta")
    
            .option("path", "C:\SparkCourse\DataFiles\Output\YellowTaxis.delta")
    
            .saveAsTable("TaxisDB.YellowTaxis")
)

In [10]:
spark.sql("""

DESCRIBE HISTORY TaxisDB.YellowTaxis

""").show(truncate=False)

+-------+-----------------------+------+--------+---------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+---------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation                        |operationParameters                                                                                                                    |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                     |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+---------------------------------------------------------------------+------------+-----------------------------------+
|4      |2023-03-12 22:24:53.136|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}|null|null    |null     |3          |Serializable  |false        |{numFiles -> 9, numOutputRows -> 3675412, numOutputBytes -> 80993013}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|3      |2023-03-12 22:24:34.753|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}|null|null    |null     |2          |Serializable  |false        |{numFiles -> 9, numOutputRows -> 3675412, numOutputBytes -> 80993013}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|2      |2023-03-12 22:21:50.635|null  |null    |WRITE                            |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                          |null|null    |null     |1          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 5469}          |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|1      |2023-03-12 22:21:36.818|null  |null    |WRITE                            |{mode -> Append, partitionBy -> []}                                                                                                    |null|null    |null     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 5096}          |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|0      |2023-03-12 22:21:24.881|null  |null    |CREATE TABLE                     |{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}|null|null    |null     |null       |Serializable  |true         |{}                                                                   |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
+-------+-----------------------+------+--------+---------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+---------------------------------------------------------------------+------------+-----------------------------------+

In [11]:
spark.sql("""

DROP TABLE TaxisDB.YellowTaxis

""")

DataFrame[]

### Create Table Definition

Create table using DDL command, and later add the data

In [12]:
spark.sql("""

CREATE TABLE TaxisDB.YellowTaxis
(
    VendorId                INT               COMMENT 'Vendor providing the ride',
    
    PickupTime              TIMESTAMP,
    DropTime                TIMESTAMP,
    
    PickupLocationId        INT               NOT NULL,
    DropLocationId          INT,
    
    PassengerCount          DOUBLE,
    TripDistance            DOUBLE,
    
    RateCodeId              DOUBLE,
    StoreAndFwdFlag         STRING,
    PaymentType             INT,
    
    FareAmount              DOUBLE,
    Extra                   DOUBLE,
    MtaTax                  DOUBLE,
    TipAmount               DOUBLE,
    TollsAmount             DOUBLE,
    ImprovementSurcharge    DOUBLE,
    TotalAmount             DOUBLE,
    CongestionSurcharge     DOUBLE,
    AirportFee              DOUBLE
)

USING DELTA                  -- default is Parquet

LOCATION "C:/SparkCourse/DataFiles/Output/YellowTaxis.delta/"

PARTITIONED BY (VendorId)    -- optional

COMMENT 'This table stores ride information for Yellow Taxis'

""")

DataFrame[]

In [13]:
spark.sql("""

DESCRIBE TABLE EXTENDED TaxisDB.YellowTaxis

""").show(50, truncate=False)

+----------------------------+-------------------------------------------------------+-------------------------+
|col_name                    |data_type                                              |comment                  |
+----------------------------+-------------------------------------------------------+-------------------------+
|VendorId                    |int                                                    |Vendor providing the ride|
|PickupTime                  |timestamp                                              |                         |
|DropTime                    |timestamp                                              |                         |
|PickupLocationId            |int                                                    |                         |
|DropLocationId              |int                                                    |                         |
|PassengerCount              |double                                                 |                         |
|TripDistance                |double                                                 |                         |
|RateCodeId                  |double                                                 |                         |
|StoreAndFwdFlag             |string                                                 |                         |
|PaymentType                 |int                                                    |                         |
|FareAmount                  |double                                                 |                         |
|Extra                       |double                                                 |                         |
|MtaTax                      |double                                                 |                         |
|TipAmount                   |double                                                 |                         |
|TollsAmount                 |double                                                 |                         |
|ImprovementSurcharge        |double                                                 |                         |
|TotalAmount                 |double                                                 |                         |
|CongestionSurcharge         |double                                                 |                         |
|AirportFee                  |double                                                 |                         |
|                            |                                                       |                         |
|# Partitioning              |                                                       |                         |
|Part 0                      |VendorId                                               |                         |
|                            |                                                       |                         |
|# Detailed Table Information|                                                       |                         |
|Name                        |taxisdb.yellowtaxis                                    |                         |
|Comment                     |This table stores ride information for Yellow Taxis    |                         |
|Location                    |file:/C:/SparkCourse/DataFiles/Output/YellowTaxis.delta|                         |
|Provider                    |delta                                                  |                         |
|External                    |true                                                   |                         |
|Table Properties            |[delta.minReaderVersion=1,delta.minWriterVersion=2]    |                         |
+----------------------------+-------------------------------------------------------+-------------------------+

### Options to Add Data to Delta Table

#### Option 1: Insert command

Use typical SQL Insert command to add data to table

In [14]:
spark.sql("""

INSERT INTO TaxisDB.YellowTaxis

-- (VendorId, PickupTime, DropTime, PickupLocationId, DropLocationId, PassengerCount, TripDistance, RateCodeId, StoreAndFwdFlag, PaymentType, FareAmount, Extra, MtaTax, TipAmount, TollsAmount, ImprovementSurcharge, TotalAmount, CongestionSurcharge, AirportFee)

VALUES (3, '2022-12-01T00:00:00.000Z', '2022-12-01T00:15:34.000Z', 170, 140, 1.0, 2.9, 1.0, '1', 1, 13.0, 0.5, 0.5, 1.0, 0.0, 0.3, 15.3, 0.0, 0.0)

""")

DataFrame[]

In [15]:
spark.sql("""

SELECT * FROM TaxisDB.YellowTaxis

""").show(truncate=False)

+--------+-------------------+-------------------+----------------+--------------+--------------+------------+----------+---------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+
|VendorId|PickupTime         |DropTime           |PickupLocationId|DropLocationId|PassengerCount|TripDistance|RateCodeId|StoreAndFwdFlag|PaymentType|FareAmount|Extra|MtaTax|TipAmount|TollsAmount|ImprovementSurcharge|TotalAmount|CongestionSurcharge|AirportFee|
+--------+-------------------+-------------------+----------------+--------------+--------------+------------+----------+---------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+
|3       |2022-12-01 05:30:00|2022-12-01 05:45:34|170             |140           |1.0           |2.9         |1.0       |1              |1          |13.0      |0.5  |0.5   |1.0      |0.0        |0.3                 |15.3       |0.0                |0.0       |
+--------+-------------------+-------------------+----------------+--------------+--------------+------------+----------+---------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+

In [16]:
spark.sql("""

DESCRIBE HISTORY TaxisDB.YellowTaxis

""").show(truncate=False)

+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation   |operationParameters                                                                                                                    |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|1      |2023-03-12 22:25:44.291|null  |null    |WRITE       |{mode -> Append, partitionBy -> []}                                                                                                    |null|null    |null     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 5096}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|0      |2023-03-12 22:25:33.126|null  |null    |CREATE TABLE|{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}|null|null    |null     |null       |Serializable  |true         |{}                                                         |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

#### Option 2: Append a DataFrame

Read data as a DataFrame and append to Delta Table using PySpark

In [17]:
# Extract new records from Storage/Data Lake

yellowTaxisAppendDF = (
                          spark
                            .read
                            .option("header", "true")
                            .schema(yellowTaxiSchema)
                            .csv("C:\SparkCourse\DataFiles\Raw\YellowTaxis_append.csv")
                      )

yellowTaxisAppendDF.show()

+--------+-------------------+-------------------+--------------+------------+----------+---------------+----------------+--------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+
|VendorId|         PickupTime|           DropTime|PassengerCount|TripDistance|RateCodeId|StoreAndFwdFlag|PickupLocationId|DropLocationId|PaymentType|FareAmount|Extra|MtaTax|TipAmount|TollsAmount|ImprovementSurcharge|TotalAmount|CongestionSurcharge|AirportFee|
+--------+-------------------+-------------------+--------------+------------+----------+---------------+----------------+--------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+
|       3|2022-10-01 05:33:41|2022-10-01 05:48:39|           1.0|         1.7|       1.0|              N|             249|           107|          1|       9.5|  3.0|   0.5|     2.65|        0.0|                 0.3|      15.95|                2.5|       0.0|
|       3|2022-10-01 05:44:30|2022-10-01 05:49:48|           2.0|        0.72|       1.0|              N|             151|           238|          2|       5.5|  0.5|   0.5|      0.0|        0.0|                 0.3|        9.3|                2.5|       0.0|
|       3|2022-10-01 05:57:13|2022-10-01 06:07:41|           1.0|        1.74|       1.0|              N|             238|           166|          1|       9.0|  0.5|   0.5|     2.06|        0.0|                 0.3|      12.36|                0.0|       0.0|
+--------+-------------------+-------------------+--------------+------------+----------+---------------+----------------+--------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+

In [18]:
# Append to data lake in delta format

(
    yellowTaxisAppendDF
        .write
  
        .mode("append")
  
        .partitionBy("VendorId")  
        .format("delta")           
        .save("C:\SparkCourse\DataFiles\Output\YellowTaxis.delta")
)

In [19]:
spark.sql("""

SELECT * 
FROM TaxisDB.YellowTaxis

""").show()

+--------+-------------------+-------------------+----------------+--------------+--------------+------------+----------+---------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+
|VendorId|         PickupTime|           DropTime|PickupLocationId|DropLocationId|PassengerCount|TripDistance|RateCodeId|StoreAndFwdFlag|PaymentType|FareAmount|Extra|MtaTax|TipAmount|TollsAmount|ImprovementSurcharge|TotalAmount|CongestionSurcharge|AirportFee|
+--------+-------------------+-------------------+----------------+--------------+--------------+------------+----------+---------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+
|       3|2022-10-01 05:33:41|2022-10-01 05:48:39|             249|           107|           1.0|         1.7|       1.0|              N|          1|       9.5|  3.0|   0.5|     2.65|        0.0|                 0.3|      15.95|                2.5|       0.0|
|       3|2022-10-01 05:44:30|2022-10-01 05:49:48|             151|           238|           2.0|        0.72|       1.0|              N|          2|       5.5|  0.5|   0.5|      0.0|        0.0|                 0.3|        9.3|                2.5|       0.0|
|       3|2022-10-01 05:57:13|2022-10-01 06:07:41|             238|           166|           1.0|        1.74|       1.0|              N|          1|       9.0|  0.5|   0.5|     2.06|        0.0|                 0.3|      12.36|                0.0|       0.0|
|       3|2022-12-01 05:30:00|2022-12-01 05:45:34|             170|           140|           1.0|         2.9|       1.0|              1|          1|      13.0|  0.5|   0.5|      1.0|        0.0|                 0.3|       15.3|                0.0|       0.0|
+--------+-------------------+-------------------+----------------+--------------+--------------+------------+----------+---------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+

In [20]:
spark.sql("""

DESCRIBE HISTORY TaxisDB.YellowTaxis

""").show(truncate=False)

+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation   |operationParameters                                                                                                                    |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|2      |2023-03-12 22:25:56.749|null  |null    |WRITE       |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                          |null|null    |null     |1          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 5469}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|1      |2023-03-12 22:25:44.291|null  |null    |WRITE       |{mode -> Append, partitionBy -> []}                                                                                                    |null|null    |null     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 5096}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|0      |2023-03-12 22:25:33.126|null  |null    |CREATE TABLE|{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}|null|null    |null     |null       |Serializable  |true         |{}                                                         |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

In [21]:
# Append to data lake in delta format
(
    yellowTaxiDF
        .write
  
        .mode("append")
  
        .partitionBy("VendorId")  
        .format("delta")
        .save("C:\SparkCourse\DataFiles\Output\YellowTaxis.delta")
)

In [22]:
spark.sql("""

SELECT COUNT(1)
FROM TaxisDB.YellowTaxis

""").show()

+--------+
|count(1)|
+--------+
| 3675416|
+--------+

### Check files holding the data

In [23]:
spark.sql("""

SELECT INPUT_FILE_NAME()
     
     , VendorId
     , PickupLocationId
     , PassengerCount
     
FROM TaxisDB.YellowTaxis

WHERE VendorId = 3

""").show(truncate=False)

+--------------------------------------------------------------------------------------------------------------------------------------+--------+----------------+--------------+
|input_file_name()                                                                                                                     |VendorId|PickupLocationId|PassengerCount|
+--------------------------------------------------------------------------------------------------------------------------------------+--------+----------------+--------------+
|file:/C:/SparkCourse/DataFiles/Output/YellowTaxis.delta/VendorId=3/part-00000-c415243a-0c19-4a8e-bbef-b4da98078da4.c000.snappy.parquet|3       |249             |1.0           |
|file:/C:/SparkCourse/DataFiles/Output/YellowTaxis.delta/VendorId=3/part-00000-c415243a-0c19-4a8e-bbef-b4da98078da4.c000.snappy.parquet|3       |151             |2.0           |
|file:/C:/SparkCourse/DataFiles/Output/YellowTaxis.delta/VendorId=3/part-00000-c415243a-0c19-4a8e-bbef-b4da98078da4.c000.snappy.parquet|3       |238             |1.0           |
|file:/C:/SparkCourse/DataFiles/Output/YellowTaxis.delta/VendorId=3/part-00000-90599c52-13a0-4e57-9716-fbd86e807e7e.c000.snappy.parquet|3       |170             |1.0           |
+--------------------------------------------------------------------------------------------------------------------------------------+--------+----------------+--------------+

### UPDATE command

In [24]:
# Check passenger count

spark.sql("""

SELECT VendorId
     , PickupLocationId
     , PassengerCount

FROM TaxisDB.YellowTaxis

WHERE VendorId = 3
    AND PickupLocationId = 249

""").show()

+--------+----------------+--------------+
|VendorId|PickupLocationId|PassengerCount|
+--------+----------------+--------------+
|       3|             249|           1.0|
+--------+----------------+--------------+

In [25]:
# Run update statement to change passenger count

spark.sql("""

UPDATE TaxisDB.YellowTaxis

SET PassengerCount = 2

WHERE VendorId = 3
    AND PickupLocationId = 249

""").show()

+-----------------+
|num_affected_rows|
+-----------------+
|                1|
+-----------------+

In [26]:
# Check passenger count after update

spark.sql("""

SELECT VendorId
     , PickupLocationId
     , PassengerCount

FROM TaxisDB.YellowTaxis

WHERE VendorId = 3
    AND PickupLocationId = 249

""").show()

+--------+----------------+--------------+
|VendorId|PickupLocationId|PassengerCount|
+--------+----------------+--------------+
|       3|             249|           2.0|
+--------+----------------+--------------+

In [27]:
spark.sql("""

DESCRIBE HISTORY TaxisDB.YellowTaxis

""").show(truncate=False)

+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation   |operationParameters                                                                                                                    |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                               |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|4      |2023-03-12 22:29:22.231|null  |null    |UPDATE      |{predicate -> ((VendorId#7797 = 3) AND (PickupLocationId#7800 = 249))}                                                                 |null|null    |null     |3          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 2, numAddedChangeFiles -> 0, executionTimeMs -> 1200, scanTimeMs -> 882, numAddedFiles -> 1, numUpdatedRows -> 1, rewriteTimeMs -> 310}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|3      |2023-03-12 22:27:26.802|null  |null    |WRITE       |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                          |null|null    |null     |2          |Serializable  |true         |{numFiles -> 9, numOutputRows -> 3675412, numOutputBytes -> 80993013}                                                                                                          |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|2      |2023-03-12 22:25:56.749|null  |null    |WRITE       |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                          |null|null    |null     |1          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 5469}                                                                                                                    |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|1      |2023-03-12 22:25:44.291|null  |null    |WRITE       |{mode -> Append, partitionBy -> []}                                                                                                    |null|null    |null     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 5096}                                                                                                                    |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|0      |2023-03-12 22:25:33.126|null  |null    |CREATE TABLE|{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}|null|null    |null     |null       |Serializable  |true         |{}                                                                                                                                                                             |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

### DELETE command

In [28]:
# Check if record exist

spark.sql("""

SELECT VendorId
     , PickupLocationId
     , PassengerCount

FROM TaxisDB.YellowTaxis

WHERE VendorId = 3
    AND PickupLocationId = 151

""").show()

+--------+----------------+--------------+
|VendorId|PickupLocationId|PassengerCount|
+--------+----------------+--------------+
|       3|             151|           2.0|
+--------+----------------+--------------+

In [29]:
# Delete the record

spark.sql("""

DELETE FROM TaxisDB.YellowTaxis

WHERE VendorId = 3
    AND PickupLocationId = 151

""").show()

+-----------------+
|num_affected_rows|
+-----------------+
|                1|
+-----------------+

In [30]:
# Check if record exist after delete operation

spark.sql("""

SELECT VendorId
     , PickupLocationId
     , PassengerCount

FROM TaxisDB.YellowTaxis

WHERE VendorId = 3
    AND PickupLocationId = 151

""").show()

+--------+----------------+--------------+
|VendorId|PickupLocationId|PassengerCount|
+--------+----------------+--------------+
+--------+----------------+--------------+

In [31]:
spark.sql("""

DESCRIBE HISTORY TaxisDB.YellowTaxis

""").show(truncate=False)

+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation   |operationParameters                                                                                                                    |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                               |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|5      |2023-03-12 22:33:18.096|null  |null    |DELETE      |{predicate -> ["((spark_catalog.TaxisDB.YellowTaxis.VendorId = 3) AND (spark_catalog.TaxisDB.YellowTaxis.PickupLocationId = 151))"]}   |null|null    |null     |4          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 2, numAddedChangeFiles -> 0, executionTimeMs -> 730, numDeletedRows -> 1, scanTimeMs -> 457, numAddedFiles -> 1, rewriteTimeMs -> 272} |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|4      |2023-03-12 22:29:22.231|null  |null    |UPDATE      |{predicate -> ((VendorId#7797 = 3) AND (PickupLocationId#7800 = 249))}                                                                 |null|null    |null     |3          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 2, numAddedChangeFiles -> 0, executionTimeMs -> 1200, scanTimeMs -> 882, numAddedFiles -> 1, numUpdatedRows -> 1, rewriteTimeMs -> 310}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|3      |2023-03-12 22:27:26.802|null  |null    |WRITE       |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                          |null|null    |null     |2          |Serializable  |true         |{numFiles -> 9, numOutputRows -> 3675412, numOutputBytes -> 80993013}                                                                                                          |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|2      |2023-03-12 22:25:56.749|null  |null    |WRITE       |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                          |null|null    |null     |1          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 5469}                                                                                                                    |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|1      |2023-03-12 22:25:44.291|null  |null    |WRITE       |{mode -> Append, partitionBy -> []}                                                                                                    |null|null    |null     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 5096}                                                                                                                    |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|0      |2023-03-12 22:25:33.126|null  |null    |CREATE TABLE|{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}|null|null    |null     |null       |Serializable  |true         |{}                                                                                                                                                                             |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
+-------+-----------------------+------+--------+------------+---------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

### MERGE command

In [32]:
# Extract changed records from Storage/Data Lake

yellowTaxiChangesDF = (
                          spark
                            .read
                            .option("header", "true")
                            .schema(yellowTaxiSchema)
                            .csv("C:\SparkCourse\DataFiles\Raw\YellowTaxis_changes.csv")
                      )

yellowTaxiChangesDF.show()

+--------+-------------------+-------------------+--------------+------------+----------+---------------+----------------+--------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+
|VendorId|         PickupTime|           DropTime|PassengerCount|TripDistance|RateCodeId|StoreAndFwdFlag|PickupLocationId|DropLocationId|PaymentType|FareAmount|Extra|MtaTax|TipAmount|TollsAmount|ImprovementSurcharge|TotalAmount|CongestionSurcharge|AirportFee|
+--------+-------------------+-------------------+--------------+------------+----------+---------------+----------------+--------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+
|       3|2022-10-01 05:33:41|2022-10-01 05:48:39|           1.0|         1.7|       1.0|              N|             249|           107|          3|       9.5|  3.0|   0.5|     2.65|        0.0|                 0.3|      15.95|                2.5|       0.0|
|       3|2022-10-01 05:44:30|2022-10-01 05:49:48|           2.0|        0.72|       1.0|              N|             170|           140|          3|       5.5|  0.5|   0.5|      0.0|        0.0|                 0.3|        9.3|                2.5|       0.0|
|       3|2022-10-01 05:57:13|2022-10-01 06:07:41|           1.0|        1.74|       1.0|              N|             238|           166|          3|       9.0|  0.5|   0.5|     2.06|        0.0|                 0.3|      12.36|                0.0|       0.0|
|       3|2022-10-01 06:05:13|2022-10-01 06:07:41|           0.0|        1.74|       1.0|              N|               1|           166|          3|       9.0|  0.5|   0.5|     2.06|        0.0|                 0.3|      12.36|                0.0|       0.0|
+--------+-------------------+-------------------+--------------+------------+----------+---------------+----------------+--------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+

In [33]:
yellowTaxiChangesDF.createOrReplaceTempView("YellowTaxiChanges")

In [34]:
spark.sql("""

SELECT *
FROM YellowTaxiChanges

""").show()

+--------+-------------------+-------------------+--------------+------------+----------+---------------+----------------+--------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+
|VendorId|         PickupTime|           DropTime|PassengerCount|TripDistance|RateCodeId|StoreAndFwdFlag|PickupLocationId|DropLocationId|PaymentType|FareAmount|Extra|MtaTax|TipAmount|TollsAmount|ImprovementSurcharge|TotalAmount|CongestionSurcharge|AirportFee|
+--------+-------------------+-------------------+--------------+------------+----------+---------------+----------------+--------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+
|       3|2022-10-01 05:33:41|2022-10-01 05:48:39|           1.0|         1.7|       1.0|              N|             249|           107|          3|       9.5|  3.0|   0.5|     2.65|        0.0|                 0.3|      15.95|                2.5|       0.0|
|       3|2022-10-01 05:44:30|2022-10-01 05:49:48|           2.0|        0.72|       1.0|              N|             170|           140|          3|       5.5|  0.5|   0.5|      0.0|        0.0|                 0.3|        9.3|                2.5|       0.0|
|       3|2022-10-01 05:57:13|2022-10-01 06:07:41|           1.0|        1.74|       1.0|              N|             238|           166|          3|       9.0|  0.5|   0.5|     2.06|        0.0|                 0.3|      12.36|                0.0|       0.0|
|       3|2022-10-01 06:05:13|2022-10-01 06:07:41|           0.0|        1.74|       1.0|              N|               1|           166|          3|       9.0|  0.5|   0.5|     2.06|        0.0|                 0.3|      12.36|                0.0|       0.0|
+--------+-------------------+-------------------+--------------+------------+----------+---------------+----------------+--------------+-----------+----------+-----+------+---------+-----------+--------------------+-----------+-------------------+----------+

In [35]:
spark.sql("""

MERGE INTO TaxisDB.YellowTaxis tgt

    USING YellowTaxiChanges    src

        ON    tgt.VendorId          =  src.VendorId
          AND tgt.PickupLocationId  =  src.PickupLocationId
  
-- Update row if join conditions match
WHEN MATCHED
      
      THEN  
          UPDATE SET    tgt.PaymentType = src.PaymentType   
          
                                                      -- Use 'UPDATE SET *' to update all columns

-- Insert row if row is not present in target table
WHEN NOT MATCHED 
      AND PickupTime >= '2022-03-01'

      THEN 
          INSERT (VendorId, PickupTime, DropTime, PickupLocationId, DropLocationId, PassengerCount, TripDistance, 
                  RateCodeId, StoreAndFwdFlag, PaymentType, FareAmount, Extra, MtaTax, TipAmount, TollsAmount, 
                  ImprovementSurcharge, TotalAmount, CongestionSurcharge, AirportFee)
          
          VALUES (VendorId, PickupTime, DropTime, PickupLocationId, DropLocationId, PassengerCount, TripDistance,
                  RateCodeId, StoreAndFwdFlag, PaymentType, FareAmount, Extra, MtaTax, TipAmount, TollsAmount, 
                  ImprovementSurcharge, TotalAmount, CongestionSurcharge, AirportFee)
                                                                         


""").show()

+-----------------+----------------+----------------+-----------------+
|num_affected_rows|num_updated_rows|num_deleted_rows|num_inserted_rows|
+-----------------+----------------+----------------+-----------------+
|                4|               3|               0|                1|
+-----------------+----------------+----------------+-----------------+

### Constraints on Delta Table

#### NOT NULL constraint

Drop the constraint here which was previously created

<i>- Define NOT NULL constraint on column to avoid insertion of NULL values </i> <br/>

In [36]:
spark.sql("""

ALTER TABLE TaxisDB.YellowTaxis

      CHANGE COLUMN PickupLocationId DROP NOT NULL

""").show()


# At the time of recording, Open Issue: https://github.com/delta-io/delta/issues/831
# Does not allow to set column as null after table creation

# ALTER TABLE TaxisDB.YellowTaxis
#      CHANGE COLUMN PickupLocationId SET NOT NULL

++
||
++
++

In [37]:
spark.sql("""

DESCRIBE HISTORY TaxisDB.YellowTaxis

""").show(truncate=False)

+-------+-----------------------+------+--------+-------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation    |operationParameters                                                                                                                                                                                                                                                  |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                                                                                                                                                              |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+-------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|7      |2023-03-12 22:37:36.529|null  |null    |CHANGE COLUMN|{column -> {"name":"PickupLocationId","type":"integer","nullable":true,"metadata":{}}}                                                                                                                                                                               |null|null    |null     |6          |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|6      |2023-03-12 22:36:38.649|null  |null    |MERGE        |{predicate -> ((tgt.VendorId = src.VendorId) AND (tgt.PickupLocationId = src.PickupLocationId)), matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"predicate":"(src.PickupTime >= TIMESTAMP '2022-03-01 00:00:00')","actionType":"insert"}]}|null|null    |null     |5          |Serializable  |false        |{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, executionTimeMs -> 2457, numTargetRowsInserted -> 1, scanTimeMs -> 1211, numTargetRowsUpdated -> 3, numOutputRows -> 4, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 2, rewriteTimeMs -> 1149}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|5      |2023-03-12 22:33:18.096|null  |null    |DELETE       |{predicate -> ["((spark_catalog.TaxisDB.YellowTaxis.VendorId = 3) AND (spark_catalog.TaxisDB.YellowTaxis.PickupLocationId = 151))"]}                                                                                                                                 |null|null    |null     |4          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 2, numAddedChangeFiles -> 0, executionTimeMs -> 730, numDeletedRows -> 1, scanTimeMs -> 457, numAddedFiles -> 1, rewriteTimeMs -> 272}                                                                                                                                |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|4      |2023-03-12 22:29:22.231|null  |null    |UPDATE       |{predicate -> ((VendorId#7797 = 3) AND (PickupLocationId#7800 = 249))}                                                                                                                                                                                               |null|null    |null     |3          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 2, numAddedChangeFiles -> 0, executionTimeMs -> 1200, scanTimeMs -> 882, numAddedFiles -> 1, numUpdatedRows -> 1, rewriteTimeMs -> 310}                                                                                                                               |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|3      |2023-03-12 22:27:26.802|null  |null    |WRITE        |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                                                                                                                                                        |null|null    |null     |2          |Serializable  |true         |{numFiles -> 9, numOutputRows -> 3675412, numOutputBytes -> 80993013}                                                                                                                                                                                                                                         |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|2      |2023-03-12 22:25:56.749|null  |null    |WRITE        |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                                                                                                                                                        |null|null    |null     |1          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 5469}                                                                                                                                                                                                                                                   |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|1      |2023-03-12 22:25:44.291|null  |null    |WRITE        |{mode -> Append, partitionBy -> []}                                                                                                                                                                                                                                  |null|null    |null     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 5096}                                                                                                                                                                                                                                                   |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|0      |2023-03-12 22:25:33.126|null  |null    |CREATE TABLE |{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}                                                                                                                              |null|null    |null     |null       |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
+-------+-----------------------+------+--------+-------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

#### CHECK constraint

Check constraint helps to enforce certain conditions on the table

In [38]:
spark.sql("""

ALTER TABLE TaxisDB.YellowTaxis

    ADD CONSTRAINT PassengerCountCheck CHECK (PassengerCount <= 5)

""").show()

AnalysisException: 170881 rows in taxisdb.yellowtaxis violate the new CHECK constraint (PassengerCount <= 5)

In [39]:
spark.sql("""

ALTER TABLE TaxisDB.YellowTaxis

    ADD CONSTRAINT PassengerCheck CHECK (PassengerCount <= 9 OR PassengerCount IS NULL)

""")

DataFrame[]

In [40]:
spark.sql("""

INSERT INTO TaxisDB.YellowTaxis

--(VendorId, PickupTime, DropTime, PickupLocationId, DropLocationId, PassengerCount, TripDistance, RateCodeId, StoreAndFwdFlag, PaymentType, FareAmount, Extra, MtaTax, TipAmount, TollsAmount, ImprovementSurcharge, TotalAmount, CongestionSurcharge, AirportFee)

VALUES (3, '2022-12-01T00:00:00.000Z', '2022-12-01T00:15:34.000Z', 170, 140, 

        20,  -- PassengerCount

        2.9, 1.0, '1', 1, 13.0, 0.5, 0.5, 1.0, 0.0, 0.3, 15.3, 0.0, 0.0)

""")

Py4JJavaError: An error occurred while calling o36.sql.
: org.apache.spark.sql.delta.schema.DeltaInvariantViolationException: CHECK constraint passengercheck ((PassengerCount <= 9) OR (PassengerCount IS NULL)) violated by row with values:
 - PassengerCount : 20.0
	at org.apache.spark.sql.delta.schema.DeltaInvariantViolationException$.apply(InvariantViolationException.scala:60)
	at org.apache.spark.sql.delta.schema.DeltaInvariantViolationException$.apply(InvariantViolationException.scala:70)
	at org.apache.spark.sql.delta.schema.DeltaInvariantViolationException.apply(InvariantViolationException.scala)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$SpecificUnsafeProjection.apply(Unknown Source)
	at org.apache.spark.sql.delta.constraints.DeltaInvariantCheckerExec.$anonfun$doExecute$3(DeltaInvariantCheckerExec.scala:80)
	at scala.collection.Iterator$$anon$10.next(Iterator.scala:461)
	at org.apache.spark.sql.execution.UnsafeExternalRowSorter.sort(UnsafeExternalRowSorter.java:226)
	at org.apache.spark.sql.execution.SortExec.$anonfun$doExecute$1(SortExec.scala:119)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:890)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)

In [42]:
spark.sql("""

ALTER TABLE TaxisDB.YellowTaxis

    DROP CONSTRAINT PassengerCheck

""")

DataFrame[]

In [43]:
spark.sql("""

DESCRIBE HISTORY TaxisDB.YellowTaxis

""").show(truncate=False)

+-------+-----------------------+------+--------+---------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation      |operationParameters                                                                                                                                                                                                                                                  |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                                                                                                                                                              |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|9      |2023-03-12 22:40:42.486|null  |null    |DROP CONSTRAINT|{name -> PassengerCheck, expr -> PassengerCount <= 9 OR PassengerCount IS NULL, existed -> true}                                                                                                                                                                     |null|null    |null     |8          |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|8      |2023-03-12 22:39:04.071|null  |null    |ADD CONSTRAINT |{name -> PassengerCheck, expr -> PassengerCount <= 9 OR PassengerCount IS NULL}                                                                                                                                                                                      |null|null    |null     |7          |Serializable  |false        |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|7      |2023-03-12 22:37:36.529|null  |null    |CHANGE COLUMN  |{column -> {"name":"PickupLocationId","type":"integer","nullable":true,"metadata":{}}}                                                                                                                                                                               |null|null    |null     |6          |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|6      |2023-03-12 22:36:38.649|null  |null    |MERGE          |{predicate -> ((tgt.VendorId = src.VendorId) AND (tgt.PickupLocationId = src.PickupLocationId)), matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"predicate":"(src.PickupTime >= TIMESTAMP '2022-03-01 00:00:00')","actionType":"insert"}]}|null|null    |null     |5          |Serializable  |false        |{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, executionTimeMs -> 2457, numTargetRowsInserted -> 1, scanTimeMs -> 1211, numTargetRowsUpdated -> 3, numOutputRows -> 4, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 2, rewriteTimeMs -> 1149}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|5      |2023-03-12 22:33:18.096|null  |null    |DELETE         |{predicate -> ["((spark_catalog.TaxisDB.YellowTaxis.VendorId = 3) AND (spark_catalog.TaxisDB.YellowTaxis.PickupLocationId = 151))"]}                                                                                                                                 |null|null    |null     |4          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 2, numAddedChangeFiles -> 0, executionTimeMs -> 730, numDeletedRows -> 1, scanTimeMs -> 457, numAddedFiles -> 1, rewriteTimeMs -> 272}                                                                                                                                |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|4      |2023-03-12 22:29:22.231|null  |null    |UPDATE         |{predicate -> ((VendorId#7797 = 3) AND (PickupLocationId#7800 = 249))}                                                                                                                                                                                               |null|null    |null     |3          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 2, numAddedChangeFiles -> 0, executionTimeMs -> 1200, scanTimeMs -> 882, numAddedFiles -> 1, numUpdatedRows -> 1, rewriteTimeMs -> 310}                                                                                                                               |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|3      |2023-03-12 22:27:26.802|null  |null    |WRITE          |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                                                                                                                                                        |null|null    |null     |2          |Serializable  |true         |{numFiles -> 9, numOutputRows -> 3675412, numOutputBytes -> 80993013}                                                                                                                                                                                                                                         |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|2      |2023-03-12 22:25:56.749|null  |null    |WRITE          |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                                                                                                                                                        |null|null    |null     |1          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 5469}                                                                                                                                                                                                                                                   |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|1      |2023-03-12 22:25:44.291|null  |null    |WRITE          |{mode -> Append, partitionBy -> []}                                                                                                                                                                                                                                  |null|null    |null     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 5096}                                                                                                                                                                                                                                                   |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|0      |2023-03-12 22:25:33.126|null  |null    |CREATE TABLE   |{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}                                                                                                                              |null|null    |null     |null       |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
+-------+-----------------------+------+--------+---------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

### Update a record

In [44]:
# Check passenger count before update

spark.sql("""

SELECT PassengerCount

FROM TaxisDB.YellowTaxis

WHERE VendorId = 3
    AND PickupLocationId = 1

""").show()

+--------------+
|PassengerCount|
+--------------+
|           0.0|
+--------------+

In [45]:
# Update passenger count

spark.sql("""

UPDATE TaxisDB.YellowTaxis

SET PassengerCount = 1

WHERE VendorId = 3
    AND PickupLocationId = 1

""").show()

+-----------------+
|num_affected_rows|
+-----------------+
|                1|
+-----------------+

In [46]:
spark.sql("""

DESCRIBE HISTORY TaxisDB.YellowTaxis

""").show(truncate=False)

+-------+-----------------------+------+--------+---------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation      |operationParameters                                                                                                                                                                                                                                                  |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                                                                                                                                                              |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|10     |2023-03-12 22:41:51.211|null  |null    |UPDATE         |{predicate -> ((VendorId#15194 = 3) AND (PickupLocationId#15197 = 1))}                                                                                                                                                                                               |null|null    |null     |9          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 3, numAddedChangeFiles -> 0, executionTimeMs -> 773, scanTimeMs -> 535, numAddedFiles -> 1, numUpdatedRows -> 1, rewriteTimeMs -> 238}                                                                                                                                |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|9      |2023-03-12 22:40:42.486|null  |null    |DROP CONSTRAINT|{name -> PassengerCheck, expr -> PassengerCount <= 9 OR PassengerCount IS NULL, existed -> true}                                                                                                                                                                     |null|null    |null     |8          |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|8      |2023-03-12 22:39:04.071|null  |null    |ADD CONSTRAINT |{name -> PassengerCheck, expr -> PassengerCount <= 9 OR PassengerCount IS NULL}                                                                                                                                                                                      |null|null    |null     |7          |Serializable  |false        |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|7      |2023-03-12 22:37:36.529|null  |null    |CHANGE COLUMN  |{column -> {"name":"PickupLocationId","type":"integer","nullable":true,"metadata":{}}}                                                                                                                                                                               |null|null    |null     |6          |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|6      |2023-03-12 22:36:38.649|null  |null    |MERGE          |{predicate -> ((tgt.VendorId = src.VendorId) AND (tgt.PickupLocationId = src.PickupLocationId)), matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"predicate":"(src.PickupTime >= TIMESTAMP '2022-03-01 00:00:00')","actionType":"insert"}]}|null|null    |null     |5          |Serializable  |false        |{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, executionTimeMs -> 2457, numTargetRowsInserted -> 1, scanTimeMs -> 1211, numTargetRowsUpdated -> 3, numOutputRows -> 4, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 2, rewriteTimeMs -> 1149}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|5      |2023-03-12 22:33:18.096|null  |null    |DELETE         |{predicate -> ["((spark_catalog.TaxisDB.YellowTaxis.VendorId = 3) AND (spark_catalog.TaxisDB.YellowTaxis.PickupLocationId = 151))"]}                                                                                                                                 |null|null    |null     |4          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 2, numAddedChangeFiles -> 0, executionTimeMs -> 730, numDeletedRows -> 1, scanTimeMs -> 457, numAddedFiles -> 1, rewriteTimeMs -> 272}                                                                                                                                |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|4      |2023-03-12 22:29:22.231|null  |null    |UPDATE         |{predicate -> ((VendorId#7797 = 3) AND (PickupLocationId#7800 = 249))}                                                                                                                                                                                               |null|null    |null     |3          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 2, numAddedChangeFiles -> 0, executionTimeMs -> 1200, scanTimeMs -> 882, numAddedFiles -> 1, numUpdatedRows -> 1, rewriteTimeMs -> 310}                                                                                                                               |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|3      |2023-03-12 22:27:26.802|null  |null    |WRITE          |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                                                                                                                                                        |null|null    |null     |2          |Serializable  |true         |{numFiles -> 9, numOutputRows -> 3675412, numOutputBytes -> 80993013}                                                                                                                                                                                                                                         |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|2      |2023-03-12 22:25:56.749|null  |null    |WRITE          |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                                                                                                                                                        |null|null    |null     |1          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 5469}                                                                                                                                                                                                                                                   |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|1      |2023-03-12 22:25:44.291|null  |null    |WRITE          |{mode -> Append, partitionBy -> []}                                                                                                                                                                                                                                  |null|null    |null     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 5096}                                                                                                                                                                                                                                                   |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|0      |2023-03-12 22:25:33.126|null  |null    |CREATE TABLE   |{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}                                                                                                                              |null|null    |null     |null       |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
+-------+-----------------------+------+--------+---------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

### Time Travel: Access using Version Number

In [47]:
# Check at initial version

spark.sql("""

SELECT PassengerCount

FROM TaxisDB.YellowTaxis        VERSION AS OF 0

WHERE VendorId = 3
    AND PickupLocationId = 1

""").show(truncate=False)

+--------------+
|PassengerCount|
+--------------+
+--------------+

In [48]:
# Check at one prior version

spark.sql("""

SELECT PassengerCount

FROM TaxisDB.YellowTaxis        VERSION AS OF 9

WHERE VendorId = 3
    AND PickupLocationId = 1

""").show(truncate=False)

+--------------+
|PassengerCount|
+--------------+
|0.0           |
+--------------+

### Time Travel: Access using Timestamp

In [49]:
spark.sql("""

SELECT PassengerCount

FROM TaxisDB.YellowTaxis        TIMESTAMP AS OF '2023-03-12 22:39:00'

WHERE VendorId = 3
    AND PickupLocationId = 1

""").show(truncate=False)

+--------------+
|PassengerCount|
+--------------+
|0.0           |
+--------------+

### Restore Table to older version

In [50]:
spark.sql("""

RESTORE TABLE TaxisDB.YellowTaxis    TO VERSION AS OF 9

""").show(truncate=False)

+------------------------+--------------------------+-----------------+------------------+------------------+-------------------+
|table_size_after_restore|num_of_files_after_restore|num_removed_files|num_restored_files|removed_files_size|restored_files_size|
+------------------------+--------------------------+-----------------+------------------+------------------+-------------------+
|80998650                |10                        |1                |1                 |5637              |5637               |
+------------------------+--------------------------+-----------------+------------------+------------------+-------------------+

In [51]:
spark.sql("""

DESCRIBE HISTORY TaxisDB.YellowTaxis

""").show(truncate=False)

+-------+-----------------------+------+--------+---------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation      |operationParameters                                                                                                                                                                                                                                                  |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                                                                                                                                                              |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|11     |2023-03-12 22:46:05.226|null  |null    |RESTORE        |{version -> 9, timestamp -> null}                                                                                                                                                                                                                                    |null|null    |null     |10         |Serializable  |false        |{numRestoredFiles -> 1, removedFilesSize -> 5637, numRemovedFiles -> 1, restoredFilesSize -> 5637, numOfFilesAfterRestore -> 10, tableSizeAfterRestore -> 80998650}                                                                                                                                           |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|10     |2023-03-12 22:41:51.211|null  |null    |UPDATE         |{predicate -> ((VendorId#15194 = 3) AND (PickupLocationId#15197 = 1))}                                                                                                                                                                                               |null|null    |null     |9          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 3, numAddedChangeFiles -> 0, executionTimeMs -> 773, scanTimeMs -> 535, numAddedFiles -> 1, numUpdatedRows -> 1, rewriteTimeMs -> 238}                                                                                                                                |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|9      |2023-03-12 22:40:42.486|null  |null    |DROP CONSTRAINT|{name -> PassengerCheck, expr -> PassengerCount <= 9 OR PassengerCount IS NULL, existed -> true}                                                                                                                                                                     |null|null    |null     |8          |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|8      |2023-03-12 22:39:04.071|null  |null    |ADD CONSTRAINT |{name -> PassengerCheck, expr -> PassengerCount <= 9 OR PassengerCount IS NULL}                                                                                                                                                                                      |null|null    |null     |7          |Serializable  |false        |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|7      |2023-03-12 22:37:36.529|null  |null    |CHANGE COLUMN  |{column -> {"name":"PickupLocationId","type":"integer","nullable":true,"metadata":{}}}                                                                                                                                                                               |null|null    |null     |6          |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|6      |2023-03-12 22:36:38.649|null  |null    |MERGE          |{predicate -> ((tgt.VendorId = src.VendorId) AND (tgt.PickupLocationId = src.PickupLocationId)), matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"predicate":"(src.PickupTime >= TIMESTAMP '2022-03-01 00:00:00')","actionType":"insert"}]}|null|null    |null     |5          |Serializable  |false        |{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, executionTimeMs -> 2457, numTargetRowsInserted -> 1, scanTimeMs -> 1211, numTargetRowsUpdated -> 3, numOutputRows -> 4, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 2, rewriteTimeMs -> 1149}|null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|5      |2023-03-12 22:33:18.096|null  |null    |DELETE         |{predicate -> ["((spark_catalog.TaxisDB.YellowTaxis.VendorId = 3) AND (spark_catalog.TaxisDB.YellowTaxis.PickupLocationId = 151))"]}                                                                                                                                 |null|null    |null     |4          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 2, numAddedChangeFiles -> 0, executionTimeMs -> 730, numDeletedRows -> 1, scanTimeMs -> 457, numAddedFiles -> 1, rewriteTimeMs -> 272}                                                                                                                                |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|4      |2023-03-12 22:29:22.231|null  |null    |UPDATE         |{predicate -> ((VendorId#7797 = 3) AND (PickupLocationId#7800 = 249))}                                                                                                                                                                                               |null|null    |null     |3          |Serializable  |false        |{numRemovedFiles -> 1, numCopiedRows -> 2, numAddedChangeFiles -> 0, executionTimeMs -> 1200, scanTimeMs -> 882, numAddedFiles -> 1, numUpdatedRows -> 1, rewriteTimeMs -> 310}                                                                                                                               |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|3      |2023-03-12 22:27:26.802|null  |null    |WRITE          |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                                                                                                                                                        |null|null    |null     |2          |Serializable  |true         |{numFiles -> 9, numOutputRows -> 3675412, numOutputBytes -> 80993013}                                                                                                                                                                                                                                         |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|2      |2023-03-12 22:25:56.749|null  |null    |WRITE          |{mode -> Append, partitionBy -> ["VendorId"]}                                                                                                                                                                                                                        |null|null    |null     |1          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 5469}                                                                                                                                                                                                                                                   |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|1      |2023-03-12 22:25:44.291|null  |null    |WRITE          |{mode -> Append, partitionBy -> []}                                                                                                                                                                                                                                  |null|null    |null     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 5096}                                                                                                                                                                                                                                                   |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
|0      |2023-03-12 22:25:33.126|null  |null    |CREATE TABLE   |{isManaged -> false, description -> This table stores ride information for Yellow Taxis, partitionBy -> ["VendorId"], properties -> {}}                                                                                                                              |null|null    |null     |null       |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                            |null        |Apache-Spark/3.3.2 Delta-Lake/2.2.0|
+-------+-----------------------+------+--------+---------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

In [52]:
# Check data after restore

spark.sql("""

SELECT PassengerCount

FROM TaxisDB.YellowTaxis

WHERE VendorId = 3
    AND PickupLocationId = 1

""").show()

+--------------+
|PassengerCount|
+--------------+
|           0.0|
+--------------+